body {
    background-color: #E9EAED;
    margin: 0px;
}

header {
    position: absolute;
    width: 100%;
    height: 42px;
    background-color: #47639E;
    box-shadow: 0px 1px 2px #1C326C;
    .logo {
        margin-left: 12%;
        margin-right: 12%;
    }
}
.main {
    position: relative;
    top: 43px;
    margin-left: 12%;
    margin-right: 12%;
    .container {
        position: relative;
        ul {
            list-style-type: none;
            li {
                a {
                    text-decoration: none;
                }
            }
        }
    }
    section {
        margin-left: 164px;
    }
}
nav {
    position: absolute;
    width: 172px;
    height: auto;
    margin-top: 12px;
    padding-left: 8px;
    padding-top: 13px;
    background-color: yellow;
    box-sizing: border-box;
}
.column {
    position: absolute;
    margin-top: 12px;
    margin-left: 20px;
    width: 65%
}
#facebook-icon {
    background: white;
    text-indent: -999em;
    width: 18px;
    height: 21px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    border: 3px solid white;
    border-bottom: 0;
}
#facebook-icon::before {
    content: "/20";
    position: absolute;
    background: white;
    width: 8px;
    height: 18px;
    bottom: -6px;
    right: -7px;
    border: 4px solid #47639E;
    border-radius: 5px;
}
#facebook-icon::after {
    content: "/20";
    position: absolute;
    width: 11px;
    top: 10px;
    height: 4px;
    background: #47639E;
    right: 1px;
}

