#main {
    max-width: 600px;
    margin: auto;
    background-color: blue;
}

.simple {
    width: 500px;
    margin: 20px auto;
    background-color: gray;
    box-sizing: border-box;
}
.fancy {
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border-width: 10px;
    background-color: yellow;
    box-sizing: border-box;
}
